.uploader-examples {
    margin-top: 6rem;
    max-width: 40rem;
    text-align: center;
}

.uploader-example {
    margin: 5rem 0;
}

.uploader-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed #e0e0e0;
    height: 200px;

    &.dragged-over {
        background: #e0e0e0;
    }
}

.file-upload {
    text-align: left;
}
